
body {
	font-size: 11px;
}
div#root {
	display: flex;
}
button {
	font-size: 11px;;
}
table {
	border-collapse:  collapse;
}
th, td {
	border:1px solid #000000;
	padding: 10px 20px2 2;
}
div#title {
	font-size: 12px;;
	font-weight: bold;
	border-bottom: 3px solid #ff8800;
    margin-bottom: 10px;
}


div#save_setting_area {
	display: flex;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	background-color: #ddffdd;
}
div#save_setting_area div#load_setting_area {
	display: flex;
	margin-left: 50px;
}
div#save_setting_area div#load_setting_area #load_setting {
	display: flex;
	margin: 0px 5px;
	padding: 2px 3px;
	border: 2px solid black;
    color: white;
    background-color: black;
    cursor: pointer;
}
div#save_setting_area div#load_setting_area #load_setting #delete {
	font-weight: bold;
    color: red;
    background-color: white;
	margin-left: 5px;;
	padding: 0px 3px;
}
div#save_setting_area div#load_setting_area #load_setting #delete:hover {
    color: white;
    background-color: red;
}

div#root {
	margin-top: 5px;;
}

div#job_display_switch_area {
	white-space: nowrap;
	margin-right: 10px;
}



div#value_input_area {
	margin-left: 10px;;
}
div#value_input_area button#load_setting {
	margin: 0px 2px;;
}
div#value_input_area div#setting_area {
	display: flex;
}
table#value_input {
	white-space: nowrap;
}
table#value_input input {
	width: 50px;
	text-align: right;
}
table#value_input tr#summary td {
    font-weight: bold;
    background-color: darkorange;
}
table#value_input input[inputed="on"] {
	background-color: aqua;
}
table#value_input td[over] {
	color: yellow;
	background-color: red;
}


div#result_area {
	margin-top: 20px;
}
div#result_area button#result {
	font-size: 12px;;
	font-weight: bold;
	border: 2px solid deeppink;
}
#job_available_on {
	background-color: aqua;
}

table#value_input tr#header {
	background-color: pink;
}
table#value_input tr td:nth-child(1) {
	background-color: pink;
}
table#result tr#header {
	background-color: pink;
}
table#result tr td:nth-child(1) {
	background-color: pink;
}
table#result tr:nth-child(n+2) td:nth-child(n+2) {
	height: 80px;
	vertical-align: top;
	cursor: pointer;
}
table#result tr:nth-child(n+2) td:nth-child(2),
table#result tr:nth-child(n+2) td:nth-child(3),
table#result tr:nth-child(n+2) td:nth-child(4),
table#result tr:nth-child(n+2) td:nth-child(6) 
{
	/* max-width: 50px; */
	/* background-color: #eeffee; */
}
table#result tr:nth-child(n+2) td:nth-child(5),
table#result tr:nth-child(n+2) td:nth-child(7),
table#result tr:nth-child(n+2) td:nth-child(8),
table#result tr:nth-child(n+2) td:nth-child(9) 
{
	max-width: 300px;
}

table#result tr:nth-child(n+2) td:nth-child(n+2):hover {
    background-color: rgb(236, 245, 153);
}
table#result tr td:nth-child(n+2) #affinity_name {
	color: white;
    background-color: black;
}
table#result tr:nth-child(n+2) td:nth-child(n+2)[marking="on"] {
	color: red;
}
table#result tr:nth-child(n+2) td:nth-child(n+2)[marking="on"] #affinity_name {
	color: white;
    background-color: red;
}




